{% include 'header.html' %}
<br>
<div class="container">
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12">
			<center><h2><u>Current Personal Projects</u></h2></center>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5"><img src="/assets/habitat-page.png"></div>
		<div class="col-md-7">
			<img width="170px" src="/assets/habitat-logo.png">
			<br>
			<br>
			<p><h4>Habit@ is an Android application for tracking your greenhouse gas emissions with little to no input from the user. The main goal behind Habit@ is to encourage users to be as eco-friendly as possible while also maintaining a model lifestyle.</h4></p>
			<br>
			<p><h4>The idea is simple - if every user can see their impact in a very visual sense, then perhaps each person might therefore feel more inclined to better themselves in a global ecological sense.</h4></p>
		</div>
	</div>
	<br>
	<hr style="color: black !important;">
	<br>
	<div class="row">
		<div class="col-md-7">
			<img width="200px" src="/assets/whatdo-logo.png">
			<br><br>
			<p><h4>WhatDo? Well, this application lets you find out. WhatDo is a very fast question/answer app that only allows a users to answer with a yes or a no. Questions are categorized and users get to choose which categories interest them the most.</h4></p>
			<br>
			<p><h4>The app focuses on speed, as a swipe left or right is enough to answer a question and move on. Stats for specific questions are gathered live and updated immediately to the author, giving him or her instant feedback.</h4></p>
		</div>
		<div class="col-md-5">
		<img src="/assets/whatdo-page.png">
		</div>
	</div>
	<br>
	<hr style="color: black !important;">
	<br>
	<div class="row">
		<div class="col-md-5"><img width="400px" src="/assets/coreator.png"></div>
		<div class="col-md-7">
			<img width="300px" src="/assets/coreator-logo.png">
			<br><br>
			<p><h4>Coreator is a project management system designed to make taking an idea and building it much easier. It focuses on open source projects as well as potential startups, making finding the correct talent and motivation a snap.</h4></p>
			<br>
			<p><h4>Whether you're a graphic designer, a software engineer or a thinker - you have a place in making change. The core principle behind building Coreator is to change the world for the better.</h4></p>
		</div>
	</div>
</div>
{% include 'footer.html' %}