</body>
	<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/textillate/jquery.textillate.js"></script>
	<script type="text/javascript" src="/static/letteringjs/jquery.lettering.js"></script>
	<script type="text/javascript" src="/static/custom.js"></script>
	<script type="text/javascript" src="/static/txt2text.js"></script>
	<script>
	    $('#test_field').txt2text();
	</script>
</html>