{% include 'header.html' %}
<div id="load">
  <div>G</div>
  <div>N</div>
  <div>I</div>
  <div>D</div>
  <div>A</div>
  <div>O</div>
  <div>L</div>
</div>

<div id="main-content">

		<div class="star star-1"></div>
		<div class="star star-2"></div>
		<div class="star star-3"></div>
		<div class="star star-4"></div>
		<div class="star star-5"></div>
		<div class="star star-6"></div>
		<div class="star star-7"></div>
		<div class="star star-8"></div>
		<div class="star star-9"></div>
		<div class="star star-10"></div>
		<div class="star star-11"></div>
		<div class="star star-12"></div>
		<div class="aurora1"></div>
		<div class="aurora2"></div>
		<div class="aurora3"></div>
		<div class="aurora4"></div>

		<h1 class="message1" style="margin-top: 400px;overflow:hidden;">...Let's turn on the lights, shall we?</h1>

		<h1 class="message2" style="display:none;"> Engineering today ... for all those who have not forgotten how to dream about tomorrow.</h1>

</div><!--End of main-content-->
{% include 'footer.html' %}