{% include 'header.html' %}
<br>
<div class="container">
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12">
			<center><h2><u>Past Projects</u></h2></center>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5"><img width="400px" src="/assets/txt2text.png"></div>
		<div class="col-md-7">
			<h3>Txt2Text</h3>
			<br>
			<p><h4>Txt2Text is an application that automatically translates internet slang when the user presses the space bar inside of <code>input</code> fields or <code>textarea</code> fields. The application is portable, allowing it to work on anywebsite extremely efficiently.</h4></p>
			<p><h4>Here is a demo! Just type in some slang such as 'lol' and press enter: </h4>
			<textarea style="resize: none; width: 500px; height: 200px; border-radius: 10px; padding: 10px;" id="test_field" placeholder="Example: lol ur funny"></textarea>
			</p>
		</div>
	</div>
	<br>
	<hr style="color: black !important;">
	<br>
	<div class="row">
		<div class="col-md-7">
			<h3>Telecom Ticketing System</h3>
			<br>
			<p><h4>During my time in corporate life, the main project I lead was to develop a ticking system to handle client issues for a telecommunications company.</h4></p>
			<p><h4>The system had to be flexible and handle many different types of problems, while handing them off to the appropriate employees in the most efficient manner possible.</h4></p>
		</div>
		<div class="col-md-5">
		<img width="400px" src="/assets/ticketing-system.png">
		</div>
	</div>
	<br>
	<hr style="color: black !important;">
	<br>
	<div class="row">
		<div class="col-md-5"><img width="400px" src="/assets/txt2text.png"></div>
		<div class="col-md-7">
			<h3>Data Migrations for an Investment Firm</h3>
			<br>
			<p><h4>Txt2Text is an application that automatically translates internet slang when the user presses the space bar inside of <code>input</code> fields or <code>textarea</code> fields. The application is portable, allowing it to work on anywebsite extremely efficiently.</h4></p>
			<p><h4>Here is a demo! Just type in some slang such as 'lol' and press enter: </h4>
			<textarea style="resize: none; width: 500px; height: 200px; border-radius: 10px; padding: 10px;" id="test_field" placeholder="Example: lol ur funny"></textarea>
			</p>
		</div>
	</div>
	<br>
	<hr style="color: black !important;">
	<br>
	<div class="row">
		<div class="col-md-7">
			<h3>ComicFridge</h3>
			<br>
			<p><h4>During my time in corporate life, the main project I lead was to develop a ticking system to handle client issues for a telecommunications company.</h4></p>
			<p><h4>The system had to be flexible and handle many different types of problems, while handing them off to the appropriate employees in the most efficient manner possible.</h4></p>
		</div>
		<div class="col-md-5">
		<img width="400px" src="/assets/ticketing-system.png">
		</div>
	</div>
</div>
{% include 'footer.html' %}