{% include 'header.html' %}
<div class="container">
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12">
			<center><h2><u>Technology</u></h2></center>
		</div>
	</div>

	<div class="row">
			<p><h4>Just like a writer, software engineers all have different writing styles and methods. Some prefer one language over another, some a certain environment and others even isolate themselves to specific platforms such as Android or the web. Over time, programming has become as diverse a field as any, with new ways to approach problems coming out every single week.</h4></p>
			<br/>
			<p><h4>When I first started to get my feet wet in code, I began my career in Python - a very lovely language that is as clear as english. Although some programmers coming from Java or C++ despise Python's indentation as a way to block code, I find it very clean and easy to read. When I ran into problems, I'd often run over to Stackoverflow and reach out to the community. I remember one question in particular getting answered by the creator of Python himself, Guido Van Rossum. As a new programmer, that really surprised me! To this day, Python has a place in my heart as my favourite programming language and I love working with it. </h4></p>
			<br/>
			<p><h4>Below is a list of languages and environments that I'm familiar with:</h4>
				<ul>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>Javascript</li>
					<li>Jquery</li>
					<li>Bootstrap</li>
					<li>React.js</li>
					<li>Python</li>
					<li>Java</li>
					<li>C</li>
					<li>C++</li>
					<li>C#</li>
					<li>Django</li>
					<li>Google App Engine</li>
					<li>Google Cloud Endpoints</li>
					<li>Google Compute Engine</li>
					<li>Android Studio</li>
					<li>Amazon Web Services</li>
					<li>Windows, OS X, Linux</li>
				</ul>
			</p>
			<br>
			<p><h4>
				I try to add to the list when I can. Often I find that learning a new framework or system to be a great way to pick up new ways to approach problems. Sometimes these approaches are best fit for something I may be working on, and sometimes they just help me to think in a different way. I think any software engineer will tell you that continuous learning is must-have in the world of today.
			</h4></p>
			<br/>
			
		</div>
	</div>
</div><!--End of container-->
{% include 'footer.html' %}